
# Project files
src
tests
**/docs
.github
.changeset
tsconfig.json
vite.config.ts

# Test directories / files
**/playground**.ts
**/playground**.js
**/playground.**.ts
**/playground.**.js

# Package files
yarn.lock
package-lock.json
pnpm-lock.yaml

# IDEs and editors
**/.idea
**/.vscode
**/.project
**/.classpath
**/.c9/
**/.history
**/.sourcemaps
**/.metadata
**/.settings
**/.cache
**/.*.swp
**/.*.swo

# Logs & errors
**/logs
**/error.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/pnpm-debug.log*
**/testem.log*
**/typings
